<!DOCTYPE html>
<html
  lang="vi"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
  <head>
    <th:block th:include="include :: header('Đồng bộ MISA Danh Sách')" />
  </head>

  <body class="gray-bg">
    <div class="container-div">
      <div class="row">
        <div class="col-sm-12 search-collapse">
          <form id="formId">
            <div class="select-list">
              <ul>
                <li>
                  <label for="taxCode" id="txtClick">Tiêu đề：</label>
                  <input type="text" id="title" name="title" />
                </li>
                <li>
                  <label for="type">Loại thông báo：</label>
                  <select name="type">
                    <option id="type" value="">Tất cả</option>
                    <option value="0">Thông báo</option>
                    <option value="1">Cảnh báo</option>
                  </select>
                </li>
                <li>
                  <a
                    class="btn btn-primary btn-rounded btn-sm"
                    onclick="$.table.search()"
                    ><i class="fa fa-search"></i>&nbsp;Tìm kiếm
                  </a>
                  <a
                    class="btn btn-warning btn-rounded btn-sm"
                    onclick="$.form.reset()"
                    ><i class="fa fa-refresh"></i>&nbsp;Làm mới
                  </a>
                </li>
              </ul>
            </div>
          </form>
        </div>
        <div class="btn-group-sm" id="toolbar" role="group">
          <a
            class="btn btn-danger multiple disabled"
            onclick="$.operate.removeAll()"
          >
            <i class="fa fa-remove"></i> Xóa
          </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
          <table id="bootstrap-table"></table>
        </div>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: common-input" />
    <script>
      var prefix = ctx + "business/notification";
      $(function () {
        $('#txtClick').click();

        var options = {
          url: prefix + "/list",
          removeUrl: prefix + "/remove",
          columns: [
            {
              checkbox: true,
            },
            {
              field: "id",
              title: "Id",
              visible: false,
            },
            {
              field: "title",
              title: "Tiêu đề",
              sortable: true,
            },
            {
              field: "type",
              title: "Loại",
              sortable: true,
              formatter: function (value, row, index) {
                return notifyTypeFormat(value, row, index);
              },
            },
            {
              field: "createTime",
              title: "Ngày tạo",
              sortable: true,
            },
            {
              title: "Hành động",
              align: "center",
              formatter: function (value, row, index) {
                var actions = [];
                actions.push(
                  '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.remove(\'' +
                    row.id +
                    '\')"><i class="fa fa-remove"></i></a>'
                );
                return actions.join("");
              },
            },
          ],
        };
        $.table.init(options);
      });

      function notifyTypeFormat(value, row, index) {
        if (row.type == 0) {
            return '<span class="label label-primary">Thông báo</span>';
        } else if (row.type == 1) {
            return '<span class="label label-danger"> Cảnh báo</span>';
        }
      }
    </script>
  </body>
</html>
