/.settings
/*.project
/core/*.project
/core/.settings
/irbot-business/.settings
/irbot-admin-bq/.settings
/irbot-admin-bq/.project
/irbot-admin-bq/.classpath
/irbot-admin-bq/.springBeans
/irbot-business/.project
/irbot-business/.classpath
/irbot-system/.settings
/irbot-system/.project
/irbot-system/.classpath
/core/core-system/.project
/core/core-system/.settings
/core/core-system/.classpath
/core/core-common/.project
/core/core-common/.settings
/core/core-common/.classpath
/core/core-framework/.project
/core/core-framework/.settings
/core/core-framework/.classpath
/core/core-generator/.project
/core/core-generator/.settings
/core/core-generator/.classpath
/core/core-quartz/.project
/core/core-quartz/.settings
/core/core-quartz/.classpath
